# Partially stolen from https://github.com/rust-lang/rust/blob/master/.gitattributes
[attr]rust text eol=lf whitespace=tab-in-indent,trailing-space,tabwidth=4

* text=auto eol=lf
*.rs rust
Cargo.lock linguist-generated=false

# Older git versions try to fix line endings on images, this prevents it.
*.png binary
*.ico binary
