# Common build, OS, SCM, and IDE artifacts
.DS_Store
.cproject
.hg/
.hgignore
.idea
*.iml
.project
.settings/
.vscode
.favorites.json
Session.vim

# Cargo output directory
target/

# Local working/ideas directory
local

dpl.key

docs/out

# LALRPOP generated grammar
libs/calypso_parsing/src/parser/grammar.rs

# code coverage profiling data
*.profdata
*.profraw
